.flexGrid {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	.gridItem {
		flex: auto;
		margin: 1rem;
		width: calc(100% / var(--columns) - 2rem);

		@media screen and (max-width: 1000px) {
			width: calc(50% - 2rem);
		}

		@media screen and (max-width: 600px) {
			width: calc(100% - 2rem);
		}
	}
}
