.wrapper {
	position: relative;
}

.backdrop {
	flex: 1;
	display: flex;
	background:
		linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.48) 0,
			rgba(0, 0, 0, 0.48) 3.5%,
			rgba(0, 0, 0, 0.479) 7%,
			rgba(0, 0, 0, 0.477) 10.35%,
			rgba(0, 0, 0, 0.475) 13.85%,
			rgba(0, 0, 0, 0.472) 17.35%,
			rgba(0, 0, 0, 0.469) 20.85%,
			rgba(0, 0, 0, 0.466) 24.35%,
			rgba(0, 0, 0, 0.464) 27.85%,
			rgba(0, 0, 0, 0.461) 31.35%,
			rgba(0, 0, 0, 0.458) 34.85%,
			rgba(0, 0, 0, 0.455) 38.35%,
			rgba(0, 0, 0, 0.453) 41.85%,
			rgba(0, 0, 0, 0.451) 45.35%,
			rgba(0, 0, 0, 0.45) 48.85%,
			rgba(0, 0, 0, 0.453) 52.35%,
			rgba(0, 0, 0, 0.46) 55.85%,
			rgba(0, 0, 0, 0.471) 59.35%,
			rgba(0, 0, 0, 0.485) 62.85%,
			rgba(0, 0, 0, 0.502) 66.35%,
			rgba(0, 0, 0, 0.52) 69.85%,
			rgba(0, 0, 0, 0.54) 73.35%,
			rgba(0, 0, 0, 0.56) 76.85%,
			rgba(0, 0, 0, 0.58) 80.35%,
			rgba(0, 0, 0, 0.598) 83.85%,
			rgba(0, 0, 0, 0.615) 87.35%,
			rgba(0, 0, 0, 0.629) 90.85%,
			rgba(0, 0, 0, 0.64) 94.35%,
			rgba(0, 0, 0, 0.647) 97.85%,
			rgba(0, 0, 0, 0.65)
		);
}

.fullHeight {
	display: flex;
	min-height: 40vh;
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	height: 40vh;
	width: 100%;
}
